<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PV606old"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PV606.mdf;Integrated Security=True;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
        <add name="PV606"
            connectionString="Data Source=Beli\SQLEXPRESS;Initial Catalog=PV606;Persist Security Info=True;User ID=sa;Password=root"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>